@charset "UTF-8";
body{
    background: linear-gradient(white 20%,lightCyan 30%, skyBlue 50%, deepSkyBlue 80% ) ;
    height: 1080px;
}
.pageColor{
    width: 650px;
    height: 780px;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px outset rgb(199, 195, 195);
    box-shadow: 1px 0 0 0 rgb(41, 41, 41);  
    background-color: rgb(130 130 131);   
}
#phoneNumber{
    width: 335px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(224, 222, 222);  
}
#nickname{
    width: 335px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(224, 222, 222);  
    
}
#id{
    width: 335px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(255 255 255);
    background-color: rgb(156 156 156);  
}

#pw,#checkpw{
    width: 335px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(224, 222, 222);  
}
#createAccount{
    width: 550px;
    height: 700px;
    margin-left: 10%;
    padding: 50px;
    border-radius: 5%;
    
   
}
#emailid,#emailLink{
    width: 150px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(224, 222, 222);  
}
input{
    border: 1.5px solid gray;
}
button{
    height: 26px;
}
input{
    height: 26px;
}
.pawnTab{
    width: 600px;
    
}
.iconImg{
    width: 28px;
    height: 26px;
    margin-bottom: -8px;
}
.TabColor{
    height: 26px;
    background: linear-gradient(to right,navy 30%, dodgerblue );
}
.TabiconImage{
    margin: 0 -3px -6px 5px;
    width: 22px;
    height: 20px;
}
.TabTextStyle{
    margin: 0 0 0 2%;
    color: white;   
}
.pageCloseButton{
    float: right;
    margin: 0 0.5% -5% 0;
    width: 26px;
    height: 24px;
    padding: 3px;
    background-color: rgb(175, 174, 174);
}
.pageCloseButtonText{
    margin: 0 0 0 10%;
}
#uploadProfile{
    width: 340px;
    height: 240px;
    margin: 0 0 0 6%;
}
@font-face {
    font-family: 'Ramche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#checkpm{
    width: 150px;
    margin: 0;
    padding: 0;
}
#name{
    width: 335px;
    height: 28px;
    border: 2px inset rgb(194, 192, 192);
    box-shadow: 1px 1px 1px 0 rgb(224, 222, 222);  
}
#createUserButton{
    margin: 2% 0 0 31%;
}